/* Portfolio */

a:hover {
    color: red !important;
}

#projects {
    text-align: center;
}

img {
    padding-bottom: 2rem;
}

#about {
    text-align: left;
}

#home {
    background-color: lightgray !important;
}

#projects {
    background-color: lightskyblue;
}

#about {
    background-color: lightsteelblue;
}

#contact {
    background-color: rgb(214, 228, 241);
}